/* Typo et fond global */
html {
  font-size: 15px;
  background-color: #000;
   padding: 1rem 1rem 0 1rem;  

}

/* Titres */
 .navbar-brand, a{
  font-weight: 700; /* Gras */
  font-family: lobster, 'cursive', 'Open Sans', sans-serif;
}

.navbar-brand {
  font-size: 3rem; /* Taille spécifique pour le logo */
  height: 2rem;
}

.navbar.navbar-expand-lg.bg-body-tertiary{
  border-radius: 10px 10px 0px 0px;
  background-color: #009A44!important;
}

.navbar.navbar-expand-lg.bg-body-tertiary.navbar-brand a{
  color: #009A44
}

body {
  font-family: 'lobster', 'cursive', 'Open Sans', sans-serif;
  border-radius: 10px 10px 10px 10px;
}

.photo1{
  position: relative;
}
  
img{
  width: 100%;
  margin-top: 2rem;
  height: auto;
  border-radius: 10px;
  translate: center;
}
article {
  text-align: center;
}
.titre2 {
  position: absolute;
  top: 50%;
  left: 45%;
  text-align: center;
  font-family: lobster, 'cursive', 'Open Sans', sans-serif;
  color: #009A44;
 text-shadow: 0 0 10px #fff;
 transform: translate(-40%, -60%);
}


.btnresa{
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
}

h2{
  text-align: center;
  margin-top: 2rem;
  font-family: lobster, 'cursive', 'Open Sans', sans-serif;
  color: #009A44!important;
}

.paragraphe1{
  text-align: center;
  margin-top: 1rem;
  font-family: 'lobster', 'cursive', 'Open Sans', sans-serif;
  color: black;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  word-spacing: 5px;
}

.containerGrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.containerGrid .paragraphe2{
  font-family: 'lobster', 'cursive', 'Open Sans', sans-serif;
  margin-top: 3rem;
}

.containerGrid img{
  width: 100%;
}
.about-us p {
  text-align: center;
  padding-top: 8rem;
  margin-top: 1rem;
  font-family: 'lobster', 'cursive', 'Open Sans', sans-serif;
  color: black;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  word-spacing: 5px;
  align-items: stretch;
}

.contact h2{
  color: red!important;
} 

.contact{
 background-color: #009A44;
  border-radius: 0px 0px 10px 10px;
}

.mb-3{
  margin-bottom: 1rem!important;
}

footer{
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.5rem 1rem;
  background-color: #050505;
  font-family: 'lobster', 'cursive', 'Open Sans', sans-serif; 
  color: #009A44;
  font-size: 1rem;
  justify-content: space-between;
  
}


.social-network{
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  color: #009A44;
}

.copyright p{
  font-size: 20px!important;  
}

.bouton-envoyer {
 display: flex;
  justify-content: center;
  color: white!important;
}

.btn-envoyer{
  font-size: 1rem!important;
  background-color: #009A44;
  color: white!important;
  text-align: center!important;
  margin-top: 1rem!important;
  margin-bottom: 1rem!important;
}


/*Responsive design */
@media screen and (max-width: 375px) {

.titre2 {
    font-size: 1.5rem; /* Taille de police réduite pour mobile */
    top: 45%; /* Ajustement de la position verticale */
    transform: translate(-40%, -45%); /* Ajustement du centrage */
}

/* Effet au survol des liens */
a:hover {
  text-decoration: underline;
}

.btnresa{
  padding-bottom: 1.5rem!important;
  margin-top: 1rem;
  width: 40%;
  height: 10%;
  font-size: 0.6rem!important;
  transform: translate(-50%, -50%);
  left: 55%;
}   
.navbar-toggler{
  font-size: 0.5rem!important;
  width: 10%!important;
  height: 50%!important;
  margin-left: 9rem!important;
}

.menu{
  display: flex;
}
.article .paragraphe1{
  text-align: center;
  margin-top: 1rem;
  font-family: 'lobster', 'cursive', 'Open Sans', sans-serif;
  color: black;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  word-spacing: 5px;
  align-items: stretch;
}
.menu p{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: small;
  font-family: 'lobster', 'cursive', 'Open Sans', sans-serif;
}
.paragraphe2{
  font-size: 0.5rem!important;
  margin-top: 2rem;
  margin-bottom: 10rem!important;
  top: 50%!important;
  left: 50%!important;
  transform: translate(-5%, -43%)!important;
  font-family: 'lobster', 'cursive', 'Open Sans', sans-serif;   
  margin-top: 5rem; 
  }

.containerGrid{
  margin-bottom: -12rem!important;
  margin-top: -2rem!important;
}

.containerGrid img{
  margin-top: 4rem!important;

  width: 100%;
  height: auto;
}

.contact{
  font-size: small!important;
   white-space: nowrap!important;
   margin-top:50!important;
}

footer{
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.2rem;
  background-color: #050505;
  font-family: 'lobster', 'cursive', 'Open Sans', sans-serif; 
  color: #009A44;
  font-size: x-small;
  margin: 0;
} 

.social-network {
  display: flex;
  gap: 1rem;
  font-size: x-small;
  color: #009A44;
  white-space: nowrap; 
  margin: 0;
}
.social-network a{
align-items: center;
}

.copyright{
  font-size: x-small;
   white-space: nowrap; 
   margin: 0;
}
}